networks:
  soybean-network:
    driver: bridge
services:
  mysql:
    image: mysql:8.0.36
    container_name: soybean-mysql
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root123          # root 密码
      MYSQL_DATABASE: soybean               # 初始数据库
      MYSQL_USER: dev                       # 普通用户
      MYSQL_PASSWORD: dev123                # 普通用户密码
      TZ: Asia/Shanghai                     # 时区
    ports:
      - "3306:3306"
    volumes:
      - ./docker/mysql_data:/var/lib/mysql           # 数据持久化
    networks:
      - soybean-network
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost", "-uroot", "-proot123"]
      interval: 2s
      timeout: 3s
      retries: 2
      start_period: 60s
  redis:
    image: redis:7.2-alpine          # 轻量、生产常用
    container_name: soybean-redis
    restart: always
    command: redis-server --save 60 1 --loglevel warning --requirepass redis123
    environment:
      TZ: Asia/Shanghai
    ports:
      - "6379:6379"
    volumes:
      - ./docker/redis_data:/data    # 持久化
    networks:
      - soybean-network

  nacos:
    image: nacos/nacos-server:v2.2.3
    container_name: soybean-nacos
    restart: always
    environment:
      MODE: standalone
      SPRING_DATASOURCE_PLATFORM: mysql
      MYSQL_SERVICE_HOST: mysql
      MYSQL_SERVICE_PORT: 3306
      MYSQL_SERVICE_DB_NAME: nacos
      MYSQL_SERVICE_USER: root
      MYSQL_SERVICE_PASSWORD: root123
      MYSQL_SERVICE_DB_PARAM: characterEncoding=utf8&connectTimeout=1000&socketTimeout=3000&autoReconnect=true&useUnicode=true&useSSL=false&serverTimezone=Asia/Shanghai&allowPublicKeyRetrieval=true
      NACOS_AUTH_ENABLE: true
      NACOS_AUTH_TOKEN: SecretKey012345678901234567890123456789012345678901234567890123456789
      NACOS_AUTH_IDENTITY_KEY: soybean
      NACOS_AUTH_IDENTITY_VALUE: soybean
      TZ: Asia/Shanghai
    ports:
      - "8848:8848"
      - "9848:9848"
    depends_on:
      mysql:
        condition: service_healthy
    networks:
      - soybean-network
#    healthcheck:
#      test: ["CMD", "curl", "-f", "http://localhost:8848/nacos/actuator/health"]
#      interval: 20s
#      timeout: 3s
#      retries: 2
#      start_period: 60s

  seata:
    image: apache/seata-server:2.1.0-slim
    container_name: soybean-seata
    restart: always
    environment:
      SEATA_IP: 127.0.0.1
      SEATA_PORT: 8091
    ports:
      - "8091:8091"
      - "7091:7091"
    volumes:
      - ./docker/seata-server/libs/mysql-connector-java-8.0.33.jar:/seata-server/libs/mysql-connector-java-8.0.33.jar
      - ./docker/seata-server/resources/application.yml:/seata-server/resources/application.yml
    depends_on:
      - mysql
      - nacos
    networks:
      - soybean-network